body {
    background-color: rgba(94, 80, 63, 1);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 0px 200px;
    color: rgb(234, 224, 213);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    display: flex;
    justify-content: space-around;
    width: 800px;
    font-size: 20px;
}

button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 80px;
    border-radius: 10%;
    background-color: rgb(198, 172, 143);
    font-size: medium;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 50px;
}

